aiohttp==3.8.6
aiosignal==1.3.1
asttokens==2.4.1
async-timeout==4.0.3
attrs==23.1.0
beautifulsoup4==4.12.2
bitarray==2.8.2
Brotli
certifi==2023.7.22
cffi
charset-normalizer==3.3.2
cloudscraper
colorama
comm==0.2.0
contourpy
cryptography
cycler==0.12.1
Cython==3.0.5
cytoolz==0.12.2
debugpy==1.8.0
decorator==5.1.1
eth-abi==4.2.1
eth-account==0.10.0
eth-hash==0.5.2
eth-keyfile==0.6.1
eth-keys==0.4.0
eth-rlp==0.3.0
eth-typing==3.5.2
eth-utils==2.3.1
exceptiongroup==1.1.3
executing==2.0.1
fake-useragent==1.3.0
filelock
fonttools==4.44.0
frozenlist==1.4.0
fsspec==2023.12.0
gensim==4.3.2
gmpy2
graphviz==0.20.1
greenlet==3.0.1
hexbytes==0.3.1
idna
importlib-metadata==7.0.0
importlib-resources
ipykernel==6.26.0
ipython==8.17.2
ipywidgets==8.1.1
jedi==0.19.1
Jinja2
joblib==1.3.2
jsonschema==4.19.2
jsonschema-specifications==2023.7.1
jupyter_client==8.6.0
jupyter_core==5.5.0
jupyterlab-widgets==3.0.9
kiwisolver==1.4.5
lru-dict==1.2.0
MarkupSafe
matplotlib==3.8.1
matplotlib-inline==0.1.6
mkl-fft
mkl-random
mkl-service==2.4.0
mpmat
multidict==6.0.4
munkres==1.1.4
mysql-connector-python==8.2.0
mysqlclient==2.2.0
nest-asyncio==1.5.8
networkx==2.8.8
node2vec==0.4.6
numpy==1.26.1
octopus==0.3.5
packaging==23.2
pandas==2.1.2
parsimonious==0.9.0
parso==0.8.3
pexpect==4.9.0
Pillow==10.1.0
platformdirs==3.11.0
ply==3.11
prompt-toolkit==3.0.39
protobuf==4.21.12
psutil==5.9.6
ptyprocess==0.7.0
pure-eval==0.2.2
pycparser
pycryptodome==3.19.0
Pygments==2.16.1
PyMySQL==1.1.0
pyOpenSSL
pyparsing==3.1.1
PyQt5==5.15.10
PyQt5-sip
PySocks
python-dateutil
pytz==2023.3.post1
pyunormalize==15.0.0
PyYAML
pyzmq==25.1.1
referencing==0.30.2
regex==2023.10.3
requests
requests-toolbelt==1.0.0
rlp==3.0.0
rpds-py==0.12.0
scikit-learn==1.3.2
scipy==1.11.3
seaborn==0.13.0
sip
six
smart-open==6.4.0
soupsieve==2.5
SQLAlchemy==2.0.23
stack-data==0.6.3
sympy
tabulate==0.9.0
threadpoolctl==3.2.0
tomli
toolz==0.12.0
torch==2.1.1
torchaudio==2.1.1
torchvision==0.16.1
tornado
tqdm
traitlets==5.13.0
triton==2.1.0
typing_extensions==4.8.0
tzdata==2023.3
urllib3==2.0.7
wasm==1.2
wcwidth==0.2.9
web3==6.11.3
websockets==12.0
widgetsnbextension==4.0.9
yarl==1.9.2
z3-solver==4.12.4.0
zipp
